*.class
*.swp
*.swo
build/
build.xml
nbbuild.xml
manifest.mf
nbproject/
test/
src/PublicationClustering.java
/dist/
test_network.ser
test*
*.txt
bin/
.classpath
.project
.settings/
.gradle/
fastutil-8.4.2.jar
.idea/
*.iml
